# Imports

In [133]:
# import openpyxl
# from openpyxl import Workbook, load_workbook
import pandas as pd
# import csv

# import time
# from time import mktime
# from datetime import datetime


# import sys
# import numpy as np

# import matplotlib.pyplot as plt
# import plotly 
# import chart_studio.plotly as py
# import seaborn as sns 
# from plotly import graph_objs as go
# import plotly.express as px
#import datatable as dt

# import dash         
# import dash_table
# from datetime import date
from dash import Dash, dcc, html
from dash.dependencies import Input,State, Output
# import dash_core_components as dcc
# import dash_html_components as html
import dash_bootstrap_components as dbc
# from dash.dependencies import Input, Output
# import vaex 
#from jupyter_dash import JupyterDash  # pip install dash==1.19.0 or higher
from dash import callback_context
# import pyodbc
from flask import Flask, send_from_directory
# import requests
# import csv
import json
from urllib.request import urlopen

# Access API

In [2]:
production_url='http://10.12.13.164:8110/api/BasicQMSData/BirichinaDataForReport?StartDate=2022-04-02&EndDate=2022-04-13'
response = urlopen(production_url)
production_data_json = json.loads(response.read())
productionapi=pd.DataFrame(production_data_json)

In [3]:
productionapi

,QmsDataID,BusinessUnit,LineNumber,Time,Date,BatchQty,BuyerName,ProductType,StyleSubCat,PoNumber,...,StyleCat,DefectID,OperatorId,MachineId,UserID,ModuleName,Shift,ShiftDate,OrderQty,Destination
0,0,Unit-1,Line-1,07:55:14,06/04/2022,50,MS,None,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,...,None,,None,None,80004,Sewing,Night Shift,4/5/2022 12:00:00 AM,None,None
1,0,Unit-1,Line-1,07:55:15,06/04/2022,50,MS,None,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,...,None,,None,None,80004,Sewing,Night Shift,4/5/2022 12:00:00 AM,None,None
2,0,Unit-1,Line-1,07:55:16,06/04/2022,50,MS,None,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,...,None,,None,None,80004,Sewing,Night Shift,4/5/2022 12:00:00 AM,None,None
3,0,Unit-1,Line-1,07:55:18,06/04/2022,50,MS,None,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,...,None,,None,None,80004,Sewing,Night Shift,4/5/2022 12:00:00 AM,None,None
4,0,Unit-1,Line-1,07:55:19,06/04/2022,50,MS,None,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,...,None,,None,None,80004,Sewing,Night Shift,4/5/2022 12:00:00 AM,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256860,0,Unit-4,Line-9,11:53:47,04/04/2022,30,HM,None,HM-JUNI NORA-S6 WITH LINING,304282-1339,...,None,,None,None,7477,Sewing,Day Shift,4/4/2022 12:00:00 AM,None,None
1256861,0,Unit-4,Line-9,13:49:59,03/04/2022,12,HM,None,HM-JUNI NORA-S6 WITH LINING,304282-1339,...,None,,None,None,7477,Sewing,Day Shift,4/3/2022 12:00:00 AM,None,None
1256862,0,Unit-4,Line-9,13:49:59,03/04/2022,12,HM,None,HM-JUNI NORA-S6 WITH LINING,304282-1339,...,None,,None,None,7477,Sewing,Day Shift,4/3/2022 12:00:00 AM,None,None
1256863,0,Unit-4,Line-9,14:03:01,04/04/2022,30,HM,None,HM-JUNI NORA-S6 WITH LINING,304282-1339,...,None,,None,None,7477,Sewing,Day Shift,4/4/2022 12:00:00 AM,None,None
1256864,0,Unit-4,Line-9,14:03:38,04/04/2022,12,HM,None,HM-JUNI NORA-S6 WITH LINING,304282-1339,...,None,,None,None,7477,Sewing,Day Shift,4/4/2022 12:00:00 AM,None,None

In [4]:
print(productionapi.columns)
print(productionapi.dtypes)

Index(['QmsDataID', 'BusinessUnit', 'LineNumber', 'Time', 'Date', 'BatchQty',
       'BuyerName', 'ProductType', 'StyleSubCat', 'PoNumber', 'GarmentsNumber',
       'DefectName', 'DefectType', 'DefectCount', 'Color', 'DefectPos', 'SMV',
       'Size', 'TabId', 'CreateDate', 'UpdateDate', 'StyleCat', 'DefectID',
       'OperatorId', 'MachineId', 'UserID', 'ModuleName', 'Shift', 'ShiftDate',
       'OrderQty', 'Destination'],
      dtype='object')
QmsDataID          int64
BusinessUnit      object
LineNumber        object
Time              object
Date              object
BatchQty          object
BuyerName         object
ProductType       object
StyleSubCat       object
PoNumber          object
GarmentsNumber    object
DefectName        object
DefectType        object
DefectCount       object
Color             object
DefectPos         object
SMV               object
Size              object
TabId             object
CreateDate        object
UpdateDate        object
StyleCat          object
DefectID          object
OperatorId        object
MachineId         object
UserID            object
ModuleName        object
Shift             object
ShiftDate         object
OrderQty          object
Destination       object
dtype: object

In [137]:
raw_api=productionapi.copy()
########### Convert Time ###############
raw_api['Time']= pd.to_datetime(raw_api['Time'])
raw_api['Time']=raw_api['Time'].apply(lambda t: t.strftime('%H'))
raw_api['Time']=raw_api['Time'].astype(str)
########## Convert BatchQTY ############
raw_api['BatchQty']=raw_api['BatchQty'].astype(int)
########## Convert DefectCount ############
raw_api['DefectCount']=raw_api['DefectCount'].astype(int)
########## Convert SMV ############
raw_api['SMV']=raw_api['SMV'].astype(float)
########## Convert LineNumber Into Integer #########
raw_api['LineNumber'] = raw_api['LineNumber'].str.replace('Line-','').astype(int)

raw_api['Unique Garments']=raw_api['GarmentsNumber']
raw_api1=raw_api[['BusinessUnit', 'LineNumber','Date','StyleSubCat', 'PoNumber','Color','Size','Unique Garments','GarmentsNumber',
       'DefectName','DefectType', 'DefectCount','ModuleName']]

raw_api1

,BusinessUnit,LineNumber,Date,StyleSubCat,PoNumber,Color,Size,Unique Garments,GarmentsNumber,DefectName,DefectType,DefectCount,ModuleName
0,Unit-1,1,06/04/2022,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS MICRO STAR WHITE,12,80004870002075514,80004870002075514,na,Ok,0,Sewing
1,Unit-1,1,06/04/2022,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS MICRO STAR WHITE,12,80004870008075515,80004870008075515,na,Ok,0,Sewing
2,Unit-1,1,06/04/2022,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS MICRO STAR WHITE,12,80004870011075516,80004870011075516,na,Ok,0,Sewing
3,Unit-1,1,06/04/2022,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS MICRO STAR WHITE,12,80004870022075518,80004870022075518,na,Ok,0,Sewing
4,Unit-1,1,06/04/2022,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS MICRO STAR WHITE,12,80004870028075519,80004870028075519,na,Ok,0,Sewing
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256860,Unit-4,9,04/04/2022,HM-JUNI NORA-S6 WITH LINING,304282-1339,10-201,80B,74779008115347,74779008115347,na,Ok,0,Sewing
1256861,Unit-4,9,03/04/2022,HM-JUNI NORA-S6 WITH LINING,304282-1339,10-201,75A,74775004134959,74775004134959,na,Ok,0,Sewing
1256862,Unit-4,9,03/04/2022,HM-JUNI NORA-S6 WITH LINING,304282-1339,10-201,75A,74775012134959,74775012134959,na,Ok,0,Sewing
1256863,Unit-4,9,04/04/2022,HM-JUNI NORA-S6 WITH LINING,304282-1339,10-201,80B,74779018140301,74779018140301,na,Ok,0,Sewing
1256864,Unit-4,9,04/04/2022,HM-JUNI NORA-S6 WITH LINING,304282-1339,10-201,75C.,747710004140338,747710004140338,na,Ok,0,Sewing

In [138]:
raw_api1['ModuleName'].unique()

array(['Sewing', 'Cutting'], dtype=object)

In [139]:
raw_api_sewing=raw_api1.copy()
raw_api_sewing=raw_api1[raw_api1['ModuleName']=='Sewing']
raw_api_sewing

,BusinessUnit,LineNumber,Date,StyleSubCat,PoNumber,Color,Size,Unique Garments,GarmentsNumber,DefectName,DefectType,DefectCount,ModuleName
0,Unit-1,1,06/04/2022,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS MICRO STAR WHITE,12,80004870002075514,80004870002075514,na,Ok,0,Sewing
1,Unit-1,1,06/04/2022,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS MICRO STAR WHITE,12,80004870008075515,80004870008075515,na,Ok,0,Sewing
2,Unit-1,1,06/04/2022,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS MICRO STAR WHITE,12,80004870011075516,80004870011075516,na,Ok,0,Sewing
3,Unit-1,1,06/04/2022,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS MICRO STAR WHITE,12,80004870022075518,80004870022075518,na,Ok,0,Sewing
4,Unit-1,1,06/04/2022,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS MICRO STAR WHITE,12,80004870028075519,80004870028075519,na,Ok,0,Sewing
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256860,Unit-4,9,04/04/2022,HM-JUNI NORA-S6 WITH LINING,304282-1339,10-201,80B,74779008115347,74779008115347,na,Ok,0,Sewing
1256861,Unit-4,9,03/04/2022,HM-JUNI NORA-S6 WITH LINING,304282-1339,10-201,75A,74775004134959,74775004134959,na,Ok,0,Sewing
1256862,Unit-4,9,03/04/2022,HM-JUNI NORA-S6 WITH LINING,304282-1339,10-201,75A,74775012134959,74775012134959,na,Ok,0,Sewing
1256863,Unit-4,9,04/04/2022,HM-JUNI NORA-S6 WITH LINING,304282-1339,10-201,80B,74779018140301,74779018140301,na,Ok,0,Sewing
1256864,Unit-4,9,04/04/2022,HM-JUNI NORA-S6 WITH LINING,304282-1339,10-201,75C.,747710004140338,747710004140338,na,Ok,0,Sewing

# All Data

In [140]:
raw_api_calc=raw_api1.copy()

######################################## Total ############################################
mac=raw_api_calc.copy()
mac=mac.groupby(['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color']).agg({'GarmentsNumber':'nunique','DefectCount' :'sum'}).reset_index()
mac['Total Defect']=mac['DefectCount']
mac['Total Garments']=mac['GarmentsNumber']
del mac['DefectCount']
del mac['GarmentsNumber']
mac

############################################## Counting Ok Defect type ############################
mav=raw_api_calc.copy()
mav=mav[mav['DefectType']=='Ok']
mav=mav.groupby(['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color']).agg({'DefectCount' :'sum','DefectType':'count'}).reset_index()
mav['Ok']=mav['DefectType']
del mav['DefectType']
del mav['DefectCount']
mav
############################################## Counting Reject Defect type ############################
mav1=raw_api_calc.copy()
mav1=mav1[mav1['DefectType']=='Reject']
mav1=mav1.groupby(['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color']).agg({'DefectCount' :'sum','DefectType':'count'}).reset_index()
mav1['Reject']=mav1['DefectType']
del mav1['DefectType']
del mav1['DefectCount']
mav1
############################################## Counting Rework Defect type ############################
mav2=raw_api_calc.copy()
mav2=mav2[mav2['DefectType']=='Rework']
mav2=mav2.groupby(['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color']).agg({'DefectCount' :'sum','DefectType':'count'}).reset_index()
mav2['Rework']=mav2['DefectType']
del mav2['DefectType']
del mav2['DefectCount']
mav2

mao=pd.merge(mac,mav,on=['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color'])
mao
mao1=pd.merge(mao,mav1,on=['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color'],how='left')
mao1
mao2=pd.merge(mao1,mav2,on=['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color'],how='left')

mao2=mao2.fillna(0)

mao2['NewTotalGarments']=mao2['Total Garments']-(mao2['Reject']+mao2['Rework'])
mao2['Reject']=mao2['Reject'].astype(int)
mao2['Rework']=mao2['Rework'].astype(int)
mao2['NewTotalGarments']=mao2['NewTotalGarments'].astype(int)
del mao2['NewTotalGarments']
mao2=mao2[['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber','Color','Total Defect',
           'Total Garments','Ok', 'Reject', 'Rework']]
mao2['DHU%']=(mao2['Total Defect']*100)/mao2['Ok']
mao2['Reject%']=(mao2['Reject']*100)/mao2['Ok']
mao2=mao2.round(2)
mao2

,Date,BusinessUnit,LineNumber,StyleSubCat,PoNumber,Color,Total Defect,Total Garments,Ok,Reject,Rework,DHU%,Reject%
0,02/04/2022,Unit-1,1,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,BLACK 10005,2,33,31,1,1,6.45,3.23
1,02/04/2022,Unit-1,1,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS MICRO STAR WHITE,0,1183,1183,0,0,0.00,0.00
2,02/04/2022,Unit-1,1,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS POLKA SPOT LIGHT ROSE,1,84,81,2,1,1.23,2.47
3,02/04/2022,Unit-1,1,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS SPOT GREEN,3,4466,4462,2,2,0.07,0.04
4,02/04/2022,Unit-1,2,KC.T61-MS-KPK-2112X-IBO 5PK CL MIDI-ORANGE MIX...,2030909470,Bright Orange 22855,0,484,484,0,0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,13/04/2022,Unit-4,12,HM-JUNI NORA-S6 WITH LINING,307865-1339,35-109,0,12,12,0,0,0.00,0.00
919,13/04/2022,Unit-4,16,KC.T33 3006P- 3 PK NW Ctn FC DARK GREY MIX,TBA 2 2012037352,ANTIQUE ROSE - 21564,23,365,326,0,23,7.06,0.00
920,13/04/2022,Unit-4,16,KC.T33 3006P- 3 PK NW Ctn FC DARK GREY MIX,TBA 2 2012037352,CREAM 81001,3,288,283,0,3,1.06,0.00
921,13/04/2022,Unit-4,18,KC.T33 3006P- 3 PK NW Ctn FC DARK GREY MIX,TBA 2 2012037352,CREAM 81001,2,106,105,0,1,1.90,0.00
922,13/04/2022,Unit-4,27,HM-JUNI NORA-S6 WITH LINING,307865-1339,35-109,0,24,24,0,0,0.00,0.00

# Only ['ModuleName']=='Sewing'

In [141]:
raw_api_calc=raw_api_sewing.copy()

######################################## Total ############################################
mac=raw_api_calc.copy()
mac=mac.groupby(['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color']).agg({'GarmentsNumber':'nunique','DefectCount' :'sum'}).reset_index()
mac['Total Defect']=mac['DefectCount']
mac['Total Garments']=mac['GarmentsNumber']
del mac['DefectCount']
del mac['GarmentsNumber']
mac

############################################## Counting Ok Defect type ############################
mav=raw_api_calc.copy()
mav=mav[mav['DefectType']=='Ok']
mav=mav.groupby(['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color']).agg({'DefectCount' :'sum','DefectType':'count'}).reset_index()
mav['Ok']=mav['DefectType']
del mav['DefectType']
del mav['DefectCount']
mav
############################################## Counting Reject Defect type ############################
mav1=raw_api_calc.copy()
mav1=mav1[mav1['DefectType']=='Reject']
mav1=mav1.groupby(['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color']).agg({'DefectCount' :'sum','DefectType':'count'}).reset_index()
mav1['Reject']=mav1['DefectType']
del mav1['DefectType']
del mav1['DefectCount']
mav1
############################################## Counting Rework Defect type ############################
mav2=raw_api_calc.copy()
mav2=mav2[mav2['DefectType']=='Rework']
mav2=mav2.groupby(['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color']).agg({'DefectCount' :'sum','DefectType':'count'}).reset_index()
mav2['Rework']=mav2['DefectType']
del mav2['DefectType']
del mav2['DefectCount']
mav2

mao=pd.merge(mac,mav,on=['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color'])
mao
mao1=pd.merge(mao,mav1,on=['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color'],how='left')
mao1
mao2=pd.merge(mao1,mav2,on=['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber',
                           'Color'],how='left')

mao2=mao2.fillna(0)

mao2['NewTotalGarments']=mao2['Total Garments']-(mao2['Reject']+mao2['Rework'])
mao2['Reject']=mao2['Reject'].astype(int)
mao2['Rework']=mao2['Rework'].astype(int)
mao2['NewTotalGarments']=mao2['NewTotalGarments'].astype(int)
del mao2['NewTotalGarments']
mao2=mao2[['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber','Color','Total Defect',
           'Total Garments','Ok', 'Reject', 'Rework']]
mao2['DHU%']=(mao2['Total Defect']*100)/mao2['Ok']
mao2['Reject%']=(mao2['Reject']*100)/mao2['Ok']
mao2=mao2.round(2)
mao2

,Date,BusinessUnit,LineNumber,StyleSubCat,PoNumber,Color,Total Defect,Total Garments,Ok,Reject,Rework,DHU%,Reject%
0,02/04/2022,Unit-1,1,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,BLACK 10005,2,33,31,1,1,6.45,3.23
1,02/04/2022,Unit-1,1,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS MICRO STAR WHITE,0,1183,1183,0,0,0.00,0.00
2,02/04/2022,Unit-1,1,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS POLKA SPOT LIGHT ROSE,1,84,81,2,1,1.23,2.47
3,02/04/2022,Unit-1,1,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS SPOT GREEN,3,4466,4462,2,2,0.07,0.04
4,02/04/2022,Unit-1,2,KC.T61-MS-KPK-2112X-IBO 5PK CL MIDI-ORANGE MIX...,2030909470,Bright Orange 22855,0,484,484,0,0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,13/04/2022,Unit-4,12,HM-JUNI NORA-S6 WITH LINING,307865-1339,35-109,0,12,12,0,0,0.00,0.00
909,13/04/2022,Unit-4,16,KC.T33 3006P- 3 PK NW Ctn FC DARK GREY MIX,TBA 2 2012037352,ANTIQUE ROSE - 21564,23,365,326,0,23,7.06,0.00
910,13/04/2022,Unit-4,16,KC.T33 3006P- 3 PK NW Ctn FC DARK GREY MIX,TBA 2 2012037352,CREAM 81001,3,288,283,0,3,1.06,0.00
911,13/04/2022,Unit-4,18,KC.T33 3006P- 3 PK NW Ctn FC DARK GREY MIX,TBA 2 2012037352,CREAM 81001,2,106,105,0,1,1.90,0.00
912,13/04/2022,Unit-4,27,HM-JUNI NORA-S6 WITH LINING,307865-1339,35-109,0,24,24,0,0,0.00,0.00

In [142]:
mao2['Check Qty']=mao2['Ok']
mao2['Defect Qty']=mao2['Total Defect']
del mao2['Ok']
del mao2['Total Defect']

mao2=mao2[['Date','BusinessUnit','LineNumber','StyleSubCat','PoNumber','Color','Total Garments','Rework',
           'Check Qty','Defect Qty','DHU%','Check Qty','Reject','Reject%']]
mao2

,Date,BusinessUnit,LineNumber,StyleSubCat,PoNumber,Color,Total Garments,Rework,Check Qty,Defect Qty,DHU%,Check Qty,Reject,Reject%
0,02/04/2022,Unit-1,1,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,BLACK 10005,33,1,31,2,6.45,31,1,3.23
1,02/04/2022,Unit-1,1,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS MICRO STAR WHITE,1183,0,1183,0,0.00,1183,0,0.00
2,02/04/2022,Unit-1,1,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS POLKA SPOT LIGHT ROSE,84,1,81,1,1.23,81,2,2.47
3,02/04/2022,Unit-1,1,KC.T61-MS-KPK-4970F-5PP PRINTED CL FB-GREEN MI...,2012024404,KPS SPOT GREEN,4466,2,4462,3,0.07,4462,2,0.04
4,02/04/2022,Unit-1,2,KC.T61-MS-KPK-2112X-IBO 5PK CL MIDI-ORANGE MIX...,2030909470,Bright Orange 22855,484,0,484,0,0.00,484,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,13/04/2022,Unit-4,12,HM-JUNI NORA-S6 WITH LINING,307865-1339,35-109,12,0,12,0,0.00,12,0,0.00
909,13/04/2022,Unit-4,16,KC.T33 3006P- 3 PK NW Ctn FC DARK GREY MIX,TBA 2 2012037352,ANTIQUE ROSE - 21564,365,23,326,23,7.06,326,0,0.00
910,13/04/2022,Unit-4,16,KC.T33 3006P- 3 PK NW Ctn FC DARK GREY MIX,TBA 2 2012037352,CREAM 81001,288,3,283,3,1.06,283,0,0.00
911,13/04/2022,Unit-4,18,KC.T33 3006P- 3 PK NW Ctn FC DARK GREY MIX,TBA 2 2012037352,CREAM 81001,106,1,105,2,1.90,105,0,0.00
912,13/04/2022,Unit-4,27,HM-JUNI NORA-S6 WITH LINING,307865-1339,35-109,24,0,24,0,0.00,24,0,0.00

In [74]:
excel1 = mao2.to_excel('C:\\Users\\nadiajebin\\Desktop\\send\\Report 13 with only End-Line and Reject.xlsx')

# Report 14

# Table 1

In [113]:
report_14=raw_api1.copy()

######################################## Total ############################################
allD=report_14.copy()
allD=allD.groupby(['Date','BusinessUnit']).agg({'GarmentsNumber':'nunique','DefectCount' :'sum'}).reset_index()
allD['Total Defect']=allD['DefectCount']
allD['Total Garments']=allD['GarmentsNumber']
del allD['DefectCount']
del allD['GarmentsNumber']
allD

############################################## Counting Ok Defect type ############################
Ok_count_14=report_14.copy()
Ok_count_14=Ok_count_14[Ok_count_14['DefectType']=='Ok']
Ok_count_14=Ok_count_14.groupby(['Date','BusinessUnit']).agg({'DefectCount' :'sum','DefectType':'count'}).reset_index()
Ok_count_14['Ok']=Ok_count_14['DefectType']
del Ok_count_14['DefectType']
del Ok_count_14['DefectCount']
Ok_count_14
############################################## Counting Reject Defect type ############################
reject_count_14=report_14.copy()
reject_count_14=reject_count_14[reject_count_14['DefectType']=='Reject']
reject_count_14=reject_count_14.groupby(['Date','BusinessUnit']).agg({'DefectCount' :'sum','DefectType':'count'}).reset_index()
reject_count_14['Reject']=reject_count_14['DefectType']
del reject_count_14['DefectType']
del reject_count_14['DefectCount']
reject_count_14
############################################## Counting Rework Defect type ############################
rework_14=report_14.copy()
rework_14=rework_14[rework_14['DefectType']=='Rework']
rework_14=rework_14.groupby(['Date','BusinessUnit']).agg({'DefectCount' :'sum','DefectType':'count'}).reset_index()
rework_14['Rework']=rework_14['DefectType']
del rework_14['DefectType']
del rework_14['DefectCount']
rework_14

allD_ok=pd.merge(allD,Ok_count_14,on=['Date','BusinessUnit'])
allD_ok
allD_ok_rej=pd.merge(allD_ok,reject_count_14,on=['Date','BusinessUnit'],how='left')
allD_ok_rej
allD_ok_rej_rw=pd.merge(allD_ok_rej,rework_14,on=['Date','BusinessUnit'],how='left')

allD_ok_rej_rw=allD_ok_rej_rw.fillna(0)

allD_ok_rej_rw['NewTotalGarments']=allD_ok_rej_rw['Total Garments']-(allD_ok_rej_rw['Reject']+allD_ok_rej_rw['Rework'])
allD_ok_rej_rw['Reject']=allD_ok_rej_rw['Reject'].astype(int)
allD_ok_rej_rw['Rework']=allD_ok_rej_rw['Rework'].astype(int)
allD_ok_rej_rw['NewTotalGarments']=allD_ok_rej_rw['NewTotalGarments'].astype(int)
del allD_ok_rej_rw['NewTotalGarments']
allD_ok_rej_rw=allD_ok_rej_rw[['Date','BusinessUnit','Total Defect','Total Garments','Ok', 'Reject', 'Rework']]
allD_ok_rej_rw

,Date,BusinessUnit,Total Defect,Total Garments,Ok,Reject,Rework
0,02/04/2022,Unit-1,268,36037,35906,22,109
1,02/04/2022,Unit-2,162,33533,33413,23,95
2,02/04/2022,Unit-3,330,24949,24872,13,66
3,02/04/2022,Unit-4,31,917,886,9,22
4,03/04/2022,Unit-1,411,46438,45656,13,768
5,03/04/2022,Unit-2,293,39243,39019,10,214
6,03/04/2022,Unit-3,479,41408,41129,10,270
7,03/04/2022,Unit-4,31,850,830,0,20
8,04/04/2022,Unit-1,462,47638,47132,5,500
9,04/04/2022,Unit-2,217,39111,38976,2,133
10,04/04/2022,Unit-3,476,42914,42663,5,248
11,04/04/2022,Unit-4,42,2357,2328,2,27
12,05/04/2022,Unit-1,332,48422,48083,26,309
13,05/04/2022,Unit-2,224,35133,35013,1,106
14,05/04/2022,Unit-3,360,39248,38981,9,258
15,05/04/2022,Unit-4,9,445,418,0,27
16,06/04/2022,Unit-1,374,36498,36230,18,246
17,06/04/2022,Unit-2,535,41421,40701,63,658
18,06/04/2022,Unit-3,497,34821,34354,11,456
19,06/04/2022,Unit-4,45,1842,1808,3,38
20,07/04/2022,Unit-1,381,54880,54086,27,767
21,07/04/2022,Unit-2,429,39903,39347,35,502
22,07/04/2022,Unit-3,327,30818,30495,3,320
23,07/04/2022,Unit-4,108,4493,4390,7,96
24,08/04/2022,Unit-1,240,28293,27976,20,298
25,08/04/2022,Unit-2,132,17824,17685,4,135
26,08/04/2022,Unit-3,197,16410,16219,0,190
27,08/04/2022,Unit-4,8,401,393,0,8
28,09/04/2022,Unit-1,128,24883,24734,3,143
29,09/04/2022,Unit-2,171,29258,29011,15,232
30,09/04/2022,Unit-3,291,19773,19587,0,186
31,09/04/2022,Unit-4,48,2012,1966,0,46
32,10/04/2022,Unit-1,194,27505,27426,1,79
33,10/04/2022,Unit-2,249,37078,36729,19,295
34,10/04/2022,Unit-3,474,28834,28475,1,358
35,10/04/2022,Unit-4,53,2825,2742,1,82
36,11/04/2022,Unit-1,229,33657,33546,13,97
37,11/04/2022,Unit-2,522,39511,38895,11,499
38,11/04/2022,Unit-3,483,31724,31427,0,314
39,11/04/2022,Unit-4,24,1389,1365,0,24
40,12/04/2022,Unit-1,64,30125,30089,4,14
41,12/04/2022,Unit-2,366,37435,36809,8,397
42,12/04/2022,Unit-3,489,33948,33234,0,437
43,12/04/2022,Unit-4,14,1037,1015,0,14
44,13/04/2022,Unit-1,87,35525,35426,3,80
45,13/04/2022,Unit-2,51,25328,25165,5,123
46,13/04/2022,Unit-3,435,27512,26991,1,291
47,13/04/2022,Unit-4,28,843,798,0,27

In [114]:
allD_ok_rej_rw['Check Qty']=allD_ok_rej_rw['Ok']
allD_ok_rej_rw['Defect Qty']=allD_ok_rej_rw['Total Defect']
del allD_ok_rej_rw['Ok']
del allD_ok_rej_rw['Total Defect']
allD_ok_rej_rw['DHU%']=(allD_ok_rej_rw['Defect Qty']*100)/allD_ok_rej_rw['Check Qty']
allD_ok_rej_rw['Reject%']=(allD_ok_rej_rw['Reject']*100)/allD_ok_rej_rw['Check Qty']
allD_ok_rej_rw=allD_ok_rej_rw.round(2)
allD_ok_rej_rw

,Date,BusinessUnit,Total Garments,Reject,Rework,Check Qty,Defect Qty,DHU%,Reject%
0,02/04/2022,Unit-1,36037,22,109,35906,268,0.75,0.06
1,02/04/2022,Unit-2,33533,23,95,33413,162,0.48,0.07
2,02/04/2022,Unit-3,24949,13,66,24872,330,1.33,0.05
3,02/04/2022,Unit-4,917,9,22,886,31,3.50,1.02
4,03/04/2022,Unit-1,46438,13,768,45656,411,0.90,0.03
5,03/04/2022,Unit-2,39243,10,214,39019,293,0.75,0.03
6,03/04/2022,Unit-3,41408,10,270,41129,479,1.16,0.02
7,03/04/2022,Unit-4,850,0,20,830,31,3.73,0.00
8,04/04/2022,Unit-1,47638,5,500,47132,462,0.98,0.01
9,04/04/2022,Unit-2,39111,2,133,38976,217,0.56,0.01
10,04/04/2022,Unit-3,42914,5,248,42663,476,1.12,0.01
11,04/04/2022,Unit-4,2357,2,27,2328,42,1.80,0.09
12,05/04/2022,Unit-1,48422,26,309,48083,332,0.69,0.05
13,05/04/2022,Unit-2,35133,1,106,35013,224,0.64,0.00
14,05/04/2022,Unit-3,39248,9,258,38981,360,0.92,0.02
15,05/04/2022,Unit-4,445,0,27,418,9,2.15,0.00
16,06/04/2022,Unit-1,36498,18,246,36230,374,1.03,0.05
17,06/04/2022,Unit-2,41421,63,658,40701,535,1.31,0.15
18,06/04/2022,Unit-3,34821,11,456,34354,497,1.45,0.03
19,06/04/2022,Unit-4,1842,3,38,1808,45,2.49,0.17
20,07/04/2022,Unit-1,54880,27,767,54086,381,0.70,0.05
21,07/04/2022,Unit-2,39903,35,502,39347,429,1.09,0.09
22,07/04/2022,Unit-3,30818,3,320,30495,327,1.07,0.01
23,07/04/2022,Unit-4,4493,7,96,4390,108,2.46,0.16
24,08/04/2022,Unit-1,28293,20,298,27976,240,0.86,0.07
25,08/04/2022,Unit-2,17824,4,135,17685,132,0.75,0.02
26,08/04/2022,Unit-3,16410,0,190,16219,197,1.21,0.00
27,08/04/2022,Unit-4,401,0,8,393,8,2.04,0.00
28,09/04/2022,Unit-1,24883,3,143,24734,128,0.52,0.01
29,09/04/2022,Unit-2,29258,15,232,29011,171,0.59,0.05
30,09/04/2022,Unit-3,19773,0,186,19587,291,1.49,0.00
31,09/04/2022,Unit-4,2012,0,46,1966,48,2.44,0.00
32,10/04/2022,Unit-1,27505,1,79,27426,194,0.71,0.00
33,10/04/2022,Unit-2,37078,19,295,36729,249,0.68,0.05
34,10/04/2022,Unit-3,28834,1,358,28475,474,1.66,0.00
35,10/04/2022,Unit-4,2825,1,82,2742,53,1.93,0.04
36,11/04/2022,Unit-1,33657,13,97,33546,229,0.68,0.04
37,11/04/2022,Unit-2,39511,11,499,38895,522,1.34,0.03
38,11/04/2022,Unit-3,31724,0,314,31427,483,1.54,0.00
39,11/04/2022,Unit-4,1389,0,24,1365,24,1.76,0.00
40,12/04/2022,Unit-1,30125,4,14,30089,64,0.21,0.01
41,12/04/2022,Unit-2,37435,8,397,36809,366,0.99,0.02
42,12/04/2022,Unit-3,33948,0,437,33234,489,1.47,0.00
43,12/04/2022,Unit-4,1037,0,14,1015,14,1.38,0.00
44,13/04/2022,Unit-1,35525,3,80,35426,87,0.25,0.01
45,13/04/2022,Unit-2,25328,5,123,25165,51,0.20,0.02
46,13/04/2022,Unit-3,27512,1,291,26991,435,1.61,0.00
47,13/04/2022,Unit-4,843,0,27,798,28,3.51,0.00

In [155]:
Forecast_excel =pd.read_excel("C:\\Users\\nadiajebin\\Desktop\\Hourly Dashboard\\Final\\Forecast_10th_April.xlsx")
# forecast=Forecast_excel[['ProductionUnit','LineNumber', 'Date','PresentCadre','ForecastPcs',
#                    'ForecastSAH','ForecastEff','Working_Hour','SMV']]
forecast=Forecast_excel.groupby(['Date','ProductionUnit']).agg({'ForecastPcs' :'sum'}).reset_index()
# forecast['LineNumber'] = forecast['LineNumber'].str.replace('Line-','').astype(int)
forecast['Date']=forecast['Date'].dt.strftime('%d/%m/%Y')
forecast4apr=forecast.copy()
forecast4apr['BusinessUnit']=forecast4apr['ProductionUnit']
del forecast4apr['ProductionUnit']
forecast4apr=forecast4apr[['Date','BusinessUnit','ForecastPcs']]
forecast4apr=forecast4apr.fillna(0)
forecast4apr=forecast4apr.round(2)
forecast4apr

          Date BusinessUnit  ForecastPcs
0   31/03/2022       Unit-1    119650.00
1   02/04/2022       Unit-2     68230.00
2   02/04/2022       Unit-3     78462.00
3   02/04/2022       Unit-4     21722.00
4   03/04/2022       Unit-1     99780.00
5   03/04/2022       Unit-2     71311.00
6   03/04/2022       Unit-3     81754.00
7   03/04/2022       Unit-4     21500.00
8   04/04/2022       Unit-1     97630.00
9   04/04/2022       Unit-2     72403.00
10  04/04/2022       Unit-3     82794.00
11  04/04/2022       Unit-4     22612.00
12  05/04/2022       Unit-1    101876.00
13  05/04/2022       Unit-2     72223.00
14  05/04/2022       Unit-3     84157.00
15  05/04/2022       Unit-4     23240.00
16  06/04/2022       Unit-1     99630.00
17  06/04/2022       Unit-2     71084.00
18  06/04/2022       Unit-3     87700.00
19  06/04/2022       Unit-4     22630.00
20  07/04/2022       Unit-1     96260.00
21  07/04/2022       Unit-2     80944.00
22  07/04/2022       Unit-3    104301.82
23  07/04/2022       Unit-4     24550.00
24  10/04/2022       Unit-1     81350.00
25  10/04/2022       Unit-2     77927.00
26  10/04/2022       Unit-3     93750.00
27  10/04/2022       Unit-4     25860.00

In [156]:
Prod_Fore2=pd.merge(forecast4apr, allD_ok_rej_rw,on=['Date','BusinessUnit'],how='outer')
Prod_Fore2=Prod_Fore2.fillna(0)
Prod_Fore2

Prod_Fore2


Prod_Fore2=Prod_Fore2.round(2)
Prod_Fore2=Prod_Fore2.fillna(0)

Prod_Fore2

,Date,BusinessUnit,ForecastPcs,Total Garments,Reject,Rework,Check Qty,Defect Qty,DHU%,Reject%
0,31/03/2022,Unit-1,119650.00,0.0,0.0,0.0,0.0,0.0,0.00,0.00
1,02/04/2022,Unit-2,68230.00,33533.0,23.0,95.0,33413.0,162.0,0.48,0.07
2,02/04/2022,Unit-3,78462.00,24949.0,13.0,66.0,24872.0,330.0,1.33,0.05
3,02/04/2022,Unit-4,21722.00,917.0,9.0,22.0,886.0,31.0,3.50,1.02
4,03/04/2022,Unit-1,99780.00,46438.0,13.0,768.0,45656.0,411.0,0.90,0.03
5,03/04/2022,Unit-2,71311.00,39243.0,10.0,214.0,39019.0,293.0,0.75,0.03
6,03/04/2022,Unit-3,81754.00,41408.0,10.0,270.0,41129.0,479.0,1.16,0.02
7,03/04/2022,Unit-4,21500.00,850.0,0.0,20.0,830.0,31.0,3.73,0.00
8,04/04/2022,Unit-1,97630.00,47638.0,5.0,500.0,47132.0,462.0,0.98,0.01
9,04/04/2022,Unit-2,72403.00,39111.0,2.0,133.0,38976.0,217.0,0.56,0.01
10,04/04/2022,Unit-3,82794.00,42914.0,5.0,248.0,42663.0,476.0,1.12,0.01
11,04/04/2022,Unit-4,22612.00,2357.0,2.0,27.0,2328.0,42.0,1.80,0.09
12,05/04/2022,Unit-1,101876.00,48422.0,26.0,309.0,48083.0,332.0,0.69,0.05
13,05/04/2022,Unit-2,72223.00,35133.0,1.0,106.0,35013.0,224.0,0.64,0.00
14,05/04/2022,Unit-3,84157.00,39248.0,9.0,258.0,38981.0,360.0,0.92,0.02
15,05/04/2022,Unit-4,23240.00,445.0,0.0,27.0,418.0,9.0,2.15,0.00
16,06/04/2022,Unit-1,99630.00,36498.0,18.0,246.0,36230.0,374.0,1.03,0.05
17,06/04/2022,Unit-2,71084.00,41421.0,63.0,658.0,40701.0,535.0,1.31,0.15
18,06/04/2022,Unit-3,87700.00,34821.0,11.0,456.0,34354.0,497.0,1.45,0.03
19,06/04/2022,Unit-4,22630.00,1842.0,3.0,38.0,1808.0,45.0,2.49,0.17
20,07/04/2022,Unit-1,96260.00,54880.0,27.0,767.0,54086.0,381.0,0.70,0.05
21,07/04/2022,Unit-2,80944.00,39903.0,35.0,502.0,39347.0,429.0,1.09,0.09
22,07/04/2022,Unit-3,104301.82,30818.0,3.0,320.0,30495.0,327.0,1.07,0.01
23,07/04/2022,Unit-4,24550.00,4493.0,7.0,96.0,4390.0,108.0,2.46,0.16
24,10/04/2022,Unit-1,81350.00,27505.0,1.0,79.0,27426.0,194.0,0.71,0.00
25,10/04/2022,Unit-2,77927.00,37078.0,19.0,295.0,36729.0,249.0,0.68,0.05
26,10/04/2022,Unit-3,93750.00,28834.0,1.0,358.0,28475.0,474.0,1.66,0.00
27,10/04/2022,Unit-4,25860.00,2825.0,1.0,82.0,2742.0,53.0,1.93,0.04
28,02/04/2022,Unit-1,0.00,36037.0,22.0,109.0,35906.0,268.0,0.75,0.06
29,08/04/2022,Unit-1,0.00,28293.0,20.0,298.0,27976.0,240.0,0.86,0.07
30,08/04/2022,Unit-2,0.00,17824.0,4.0,135.0,17685.0,132.0,0.75,0.02
31,08/04/2022,Unit-3,0.00,16410.0,0.0,190.0,16219.0,197.0,1.21,0.00
32,08/04/2022,Unit-4,0.00,401.0,0.0,8.0,393.0,8.0,2.04,0.00
33,09/04/2022,Unit-1,0.00,24883.0,3.0,143.0,24734.0,128.0,0.52,0.01
34,09/04/2022,Unit-2,0.00,29258.0,15.0,232.0,29011.0,171.0,0.59,0.05
35,09/04/2022,Unit-3,0.00,19773.0,0.0,186.0,19587.0,291.0,1.49,0.00
36,09/04/2022,Unit-4,0.00,2012.0,0.0,46.0,1966.0,48.0,2.44,0.00
37,11/04/2022,Unit-1,0.00,33657.0,13.0,97.0,33546.0,229.0,0.68,0.04
38,11/04/2022,Unit-2,0.00,39511.0,11.0,499.0,38895.0,522.0,1.34,0.03
39,11/04/2022,Unit-3,0.00,31724.0,0.0,314.0,31427.0,483.0,1.54,0.00
40,11/04/2022,Unit-4,0.00,1389.0,0.0,24.0,1365.0,24.0,1.76,0.00
41,12/04/2022,Unit-1,0.00,30125.0,4.0,14.0,30089.0,64.0,0.21,0.01
42,12/04/2022,Unit-2,0.00,37435.0,8.0,397.0,36809.0,366.0,0.99,0.02
43,12/04/2022,Unit-3,0.00,33948.0,0.0,437.0,33234.0,489.0,1.47,0.00
44,12/04/2022,Unit-4,0.00,1037.0,0.0,14.0,1015.0,14.0,1.38,0.00
45,13/04/2022,Unit-1,0.00,35525.0,3.0,80.0,35426.0,87.0,0.25,0.01
46,13/04/2022,Unit-2,0.00,25328.0,5.0,123.0,25165.0,51.0,0.20,0.02
47,13/04/2022,Unit-3,0.00,27512.0,1.0,291.0,26991.0,435.0,1.61,0.00
48,13/04/2022,Unit-4,0.00,843.0,0.0,27.0,798.0,28.0,3.51,0.00

In [160]:
Planned_excel =pd.read_excel("C:\\Users\\nadiajebin\\Desktop\\Hourly Dashboard\\Final\\planned_Data_10th_1_9.xlsx")
Planned_excel
Planned_excel['Planned Pcs']=Planned_excel['Sum of planqty']
plan=Planned_excel[['BusinessUnit','plandate','Planned Pcs','Average of SMV']].round(2)
# plan['LineNumber'] = plan['LineNumber'].str.replace('Line-','').astype(int)
plan['Date'] = plan['plandate'].str.replace('-Apr','/04/2022')
plan['Date'] = plan['Date'].str.replace('1/04/2022','01/04/2022')
plan['Date'] = plan['Date'].str.replace('2/04/2022','02/04/2022')
plan['Date'] = plan['Date'].str.replace('3/04/2022','03/04/2022')
plan['Date'] = plan['Date'].str.replace('4/04/2022','04/04/2022')
plan['Date'] = plan['Date'].str.replace('5/04/2022','05/04/2022')
plan['Date'] = plan['Date'].str.replace('6/04/2022','06/04/2022')
plan['Date'] = plan['Date'].str.replace('7/04/2022','07/04/2022')
plan['Date'] = plan['Date'].str.replace('8/04/2022','08/04/2022')
plan['Date'] = plan['Date'].str.replace('9/04/2022','09/04/2022')

del plan['plandate']
plan=plan[['Date','BusinessUnit','Planned Pcs']]
plan

           Date BusinessUnit  Planned Pcs
0    01/04/2022       Unit-1         4305
1    02/04/2022       Unit-1         5383
2    03/04/2022       Unit-1         5383
3    04/04/2022       Unit-1         5383
4    05/04/2022       Unit-1         5383
..          ...          ...          ...
850  04/04/2022       Unit-4          809
851  05/04/2022       Unit-4          809
852  06/04/2022       Unit-4          809
853  07/04/2022       Unit-4          809
854  09/04/2022       Unit-4          809

[855 rows x 3 columns]

In [164]:
plan_unit=plan.copy()

plan_unit=plan_unit.groupby(['Date','BusinessUnit']).agg({'Planned Pcs':'sum'}).reset_index()
Prod_Fore_plan_Unit=pd.merge(plan_unit, Prod_Fore2,on=['Date','BusinessUnit'],how='outer')
Prod_Fore_plan_Unit=Prod_Fore_plan_Unit.round(2)
Prod_Fore_plan_Unit=Prod_Fore_plan_Unit.fillna(0)
Prod_Fore_plan_Unit.loc[:,"Planned Pcs":"Defect Qty"]=Prod_Fore_plan_Unit.loc[:,"Planned Pcs":"Defect Qty"].astype(int)
Prod_Fore_plan_Unit=Prod_Fore_plan_Unit

# Table 2: Top Defect

In [123]:
report_14=raw_api1.copy()

######################################## Total ############################################
TallD=report_14.copy()
TallD=TallD.groupby(['Date','BusinessUnit','DefectName']).agg({'GarmentsNumber':'nunique','DefectCount' :'sum'}).reset_index()
TallD['Total Defect']=TallD['DefectCount']
TallD['Total Garments']=TallD['GarmentsNumber']
del TallD['DefectCount']
del TallD['GarmentsNumber']
TallD

############################################## Counting Ok Defect type ############################
TOk_count_14=report_14.copy()
TOk_count_14=TOk_count_14[TOk_count_14['DefectType']=='Ok']
TOk_count_14=TOk_count_14.groupby(['Date','BusinessUnit','DefectName']).agg({'DefectCount' :'sum','DefectType':'count'}).reset_index()
TOk_count_14['Ok']=TOk_count_14['DefectType']
del TOk_count_14['DefectType']
del TOk_count_14['DefectCount']
TOk_count_14
############################################## Counting Reject Defect type ############################
Treject_count_14=report_14.copy()
Treject_count_14=Treject_count_14[Treject_count_14['DefectType']=='Reject']
Treject_count_14=Treject_count_14.groupby(['Date','BusinessUnit','DefectName']).agg({'DefectCount' :'sum','DefectType':'count'}).reset_index()
Treject_count_14['Reject']=Treject_count_14['DefectType']
del Treject_count_14['DefectType']
del Treject_count_14['DefectCount']
Treject_count_14
############################################## Counting Rework Defect type ############################
Trework_14=report_14.copy()
Trework_14=Trework_14[Trework_14['DefectType']=='Rework']
Trework_14=Trework_14.groupby(['Date','BusinessUnit','DefectName']).agg({'DefectCount' :'sum','DefectType':'count'}).reset_index()
Trework_14['Rework']=Trework_14['DefectType']
del Trework_14['DefectType']
del Trework_14['DefectCount']
Trework_14

TallD_ok=pd.merge(TallD,TOk_count_14,on=['Date','BusinessUnit','DefectName'])
TallD_ok
TallD_ok_rej=pd.merge(TallD_ok,Treject_count_14,on=['Date','BusinessUnit','DefectName'],how='left')
TallD_ok_rej
TallD_ok_rej_rw=pd.merge(TallD_ok_rej,Trework_14,on=['Date','BusinessUnit','DefectName'],how='left')

TallD_ok_rej_rw=TallD_ok_rej_rw.fillna(0)

TallD_ok_rej_rw['NewTotalGarments']=TallD_ok_rej_rw['Total Garments']-(allD_ok_rej_rw['Reject']+allD_ok_rej_rw['Rework'])
TallD_ok_rej_rw=TallD_ok_rej_rw.fillna(0)
TallD_ok_rej_rw['Reject']=TallD_ok_rej_rw['Reject'].astype(int)
TallD_ok_rej_rw['Rework']=TallD_ok_rej_rw['Rework'].astype(int)
TallD_ok_rej_rw['NewTotalGarments']=TallD_ok_rej_rw['NewTotalGarments'].astype(int)
del TallD_ok_rej_rw['NewTotalGarments']
TallD_ok_rej_rw=TallD_ok_rej_rw[['Date','BusinessUnit','DefectName','Total Defect','Total Garments','Ok', 'Reject', 'Rework']]
TallD_ok_rej_rw

TallD_ok_rej_rw['Check Qty']=TallD_ok_rej_rw['Ok']
TallD_ok_rej_rw['Defect Qty']=TallD_ok_rej_rw['Total Defect']
del TallD_ok_rej_rw['Ok']
del TallD_ok_rej_rw['Total Defect']
TallD_ok_rej_rw['DHU%']=(TallD_ok_rej_rw['Defect Qty'])/TallD_ok_rej_rw['Total Garments']
TallD_ok_rej_rw['Reject%']=(TallD_ok_rej_rw['Reject']*100)/TallD_ok_rej_rw['Total Garments']
TallD_ok_rej_rw=TallD_ok_rej_rw.round(2)
TallD_ok_rej_rw

,Date,BusinessUnit,DefectName,Total Garments,Reject,Rework,Check Qty,Defect Qty,DHU%,Reject%
0,02/04/2022,Unit-1,Bar Tack Defect,3,1,1,1,3,1.00,33.33
1,02/04/2022,Unit-1,Dirty Spot,2,0,1,1,8,4.00,0.00
2,02/04/2022,Unit-1,High Low,4,0,2,2,5,1.25,0.00
3,02/04/2022,Unit-1,Join Stitch,2,1,0,1,2,1.00,50.00
4,02/04/2022,Unit-1,MTS Division,2,0,1,1,10,5.00,0.00
...,...,...,...,...,...,...,...,...,...,...
469,13/04/2022,Unit-1,na,35509,3,80,35426,0,0.00,0.01
470,13/04/2022,Unit-2,na,25293,5,123,25165,0,0.00,0.02
471,13/04/2022,Unit-3,na,27283,1,291,26991,0,0.00,0.00
472,13/04/2022,Unit-4,Wavy,2,0,0,1,2,1.00,0.00
473,13/04/2022,Unit-4,na,823,0,26,797,0,0.00,0.00

In [124]:
unit_w=TallD_ok_rej_rw.copy()

unit_1=unit_w[unit_w['BusinessUnit']=='Unit-1']
unit_1=unit_1[['BusinessUnit','DefectName', 'DHU%']].sort_values(['DHU%'], ascending=False).head(3)
unit_1


unit_2=unit_w[unit_w['BusinessUnit']=='Unit-2']
unit_2=unit_2[['BusinessUnit','DefectName', 'DHU%']].sort_values(['DHU%'], ascending=False).head(3)
unit_2

unit_3=unit_w[unit_w['BusinessUnit']=='Unit-3']
unit_3=unit_3[['BusinessUnit','DefectName','DHU%']].sort_values(['DHU%'], ascending=False).head(3)
unit_3

unit_4=unit_w[unit_w['BusinessUnit']=='Unit-4']
unit_4=unit_4[['BusinessUnit','DefectName','DHU%']].sort_values(['DHU%'], ascending=False).head(3)
unit_4

frames = [unit_1,unit_2,unit_3,unit_4]

result = pd.concat(frames)
result

    BusinessUnit         DefectName   DHU%
17        Unit-1     Un cut Thread   18.00
263       Unit-1    Sharing Defect   10.00
420       Unit-1      MTS Division    8.00
278       Unit-2  Out of Tolerance    1.25
285       Unit-2             Uneven   1.17
271       Unit-2        Broken STC    1.14
379       Unit-3           Bobbling  32.00
448       Unit-3    Sharing Defect    7.33
381       Unit-3     Un cut Thread    3.69
132       Unit-4             Uneven   2.40
128       Unit-4           Down STC   2.00
130       Unit-4          Pull Yarn   2.00

In [ ]:
'''############################ Run App #########################################################'''

server = Flask(__name__)
app =dash.Dash(server=server,external_stylesheets=[dbc.themes.SUPERHERO],
               meta_tags=[{'name': 'viewport',
                'content': 'width=device-width, initial-scale=1.0, maximum-scale=1.2, minimum-scale=0.5,'}])

unit = mao2.BusinessUnit.unique().tolist()


app.layout = html.Div([
    dcc.Location(id='url', refresh=False),
    html.Div(id='page-content')
])

index_page = html.Div([
    dcc.Link('Report 14: Daily Sewing Quality Summary Report', href='/page-1'),
    html.Br(),
    dcc.Link('Page 2: Linewise Hourly Production Report', href='/page-2'),
    html.Br(),
#     dcc.Link('Page 3: Daily Production Summary', href='/page-3'),
#     html.Br(),
#     dcc.Link('Page 4: New Report to Add ', href='/page-4'),
])
'''######################################### Page 1 ###############################'''

page_1_layout = html.Div([
           dbc.Row([
               dbc.Col([
                    dash_table.DataTable(
                    id='Unit-wise-Table',
                    data=allD_ok_rej_rw.to_dict('records'), 
                    page_current= 0,
                    page_size= 20, 
                    editable=False,
                    columns=[{"name": i, "id": i, "deletable": True} for i in allD_ok_rej_rw.columns],
                    style_cell_conditional=[
                        {
                                            'font-size':'15px',
                                            'color':'Black',
                                            'background-color': 'lightgrey',
                                             'border':'solid slategrey',
                                              'border-width': '0.1px'
                        }
                    ],
                    ),
                   html.Button("Download Unit Wise Concated CSV", id="btn_csv_1"),
                   dcc.Download(id="download-unit-wise-concated-csv"),
               ],width={"size": 12, "offset": 0},md=12),
           ],align="start"),

             dbc.Row([
                 dbc.Col([
                    dash_table.DataTable(
                    id='Top-Defect-Table',
                    data=result.to_dict('records'), 
                    page_current= 0,
                    page_size= 20, 
                    editable=False,
                    columns=[{"name": i, "id": i, "deletable": True} for i in result.columns],
                    style_cell_conditional=[
                        {
                                            'font-size':'15px',
                                            'color':'Black',
                                            'background-color': 'lightgrey',
                                             'border':'solid slategrey',
                                              'border-width': '0.1px'
                        }
                    ],
                    ),
                   html.Button("Download Unit Wise Concated CSV", id="btn_csv_1"),
                   dcc.Download(id="download-unit-wise-concated-csv"),
               ],width={"size": 12, "offset": 0},md=12),
            ]),


 ##########################  PAGE  #########################
    html.Div(id='page-1-content'),
    html.Br(),
    dcc.Link('Linewise Hourly Production Report', href='/page-2'),
    html.Br(),
    dcc.Link('Go back to home', href='/'),
])

@app.callback(
    Output("download-unit-wise-concated-csv", "data"),
    Input("btn_csv_1", "n_clicks"),
    prevent_initial_call=True,
)
def func(n_clicks):
    return dcc.send_data_frame(Prod_Fore_plan_Unit.to_csv, "UnitWiseConcatedReport.csv")



'''######################################### Page 2 ###############################'''
page_2_layout = html.Div([
   dbc.Container([
           dbc.Row([
               dbc.Col( html.Div('Logo',
                    style={'text-align':'center','color':"White",
                      'height':'50px',
                      'font-size':'30px',
                      'font-family':'Georgia',
                      'background-color':'Black',
                      'border-style':'Double',
                      'border-color': 'Grey'}),
                md=4),
               
               dbc.Col(html.Div('Floor Name',
                style={'text-align':'center','color':"White",
                      'height':'50px',
                      'font-size':'30px',
                      'font-family':'Georgia',
                      'background-color':'Black',
                      'border-style':'Double',
                      'border-color': 'Grey'}
                 ),md=4),
#                dbc.Col(
#                 html.Div(datetime.datetime.now().strftime('%d-%m-%Y'),
#                          style={'text-align':'center',
#                                 'color':"White",
#                                 'height':'50px',
#                                 'font-size':'30px',
#                                 'font-family':'Georgia',
#                                 'background-color':'Black',
#                                 'border-style':'Double',
#                                 'border-color': 'Grey'}
#                         ),md=4),
               
           ]),
         dbc.Row([
             html.H3("Choose Unit"),
             dcc.Dropdown(
                id='Unit_dropdown',
                options=[{'label':un, 'value':un} for un in unit], 
                value = "Unit",
                placeholder="Unit",
                style = {'color':"Black",'font-size':'25px','width':'50%'}
             ),
         ]),
   ]),
      html.Div(
        
        html.Div([
        dash_table.DataTable(
            id='Line-wise-table-cont',
            data=mao2.to_dict('records'),
            columns=[
                {"name": i, "id": i, "deletable": False, "selectable": False} for i in mao2.columns
            ],
            page_size= 15,
            editable=False,
            row_selectable="multi",
            row_deletable=False,
            selected_rows=[],
            page_action="native",
              

        style_cell_conditional=[
            {
                  'color':"white",
                  'font-size':'20px',
                  'text-align':"center",
                  'background-color':'black',
                  'border-style':'double',
                  #'display':'inline-block',
                  }
            ],
        ),
    ],className='row',style={'overflowY': 'scroll'}),
      ),
    
    
    html.Button("Download Line Wise CSV", id="btn_csv4"),
    dcc.Download(id="download-line-wise-csv"),
    ##########################  PAGE  #########################
    html.Div(id='page-2-content'),
    html.Br(),
    dcc.Link('Unitwise Hourly Production Report', href='/page-1'),
    html.Br(),
    dcc.Link('Go back to home', href='/'),
    html.Br(),
    dcc.Link('Daily Production Summary', href='/page-3'),
    html.Br(),
])

@app.callback(
    Output("download-line-wise-csv", "data"),
    Input("btn_csv4", "n_clicks"),
    prevent_initial_call=True,
)
def func(n_clicks):
    return dcc.send_data_frame(allD_ok_rej_rw.to_csv, "LineWiseReport.csv")



######################### Function ################################

@app.callback(
    Output('Line-wise-table-cont','data'),
    [Input('Unit_dropdown' ,'value')],
   )

def display_table(unit):
        Linefil =  mao2[mao2.BusinessUnit==unit]
        return Linefil.to_dict('records')
###################################################################

@app.callback(Output('page-content', 'children'),
              [Input('url', 'pathname')])
def display_page(pathname):
    if pathname == '/page-1':
        return page_1_layout
    elif pathname == '/page-2':
        return page_2_layout
#     elif pathname == '/page-3':
#             return page_3_layout
#     elif pathname == '/page-4':
#         return page_4_layout
    else:
        return index_page


if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

C:\Users\NADIAJ~1\AppData\Local\Temp/ipykernel_15012/2553353195.py:147: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [15/Apr/2022 15:26:24] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [15/Apr/2022 15:26:25] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [15/Apr/2022 15:26:25] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [15/Apr/2022 15:26:25] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [15/Apr/2022 15:26:26] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [15/Apr/2022 15:26:26] "GET /_dash-component-suites/dash/dash_table/async-highlight.js HTTP/1.1" 304 -
127.0.0.1 - - [15/Apr/2022 15:26:26] "GET /_dash-component-suites/dash/dash_table/async-table.js HTTP/1.1" 304 -
127.0.0.1 - - [15/Apr/2022 15:26:44] "GET /page-2 HTTP/1.1" 200 -
127.0.0.1 - - [15/Apr/2022 15:26:44] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [15/Apr/2022 15:26:44] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [15/Apr/2022 15:26:44] "GET /_favicon.ico?v=2.2.0 HTTP/1.1" 200 -
127.0.0.1 - - [15/Apr/2022 15:26:44] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [15/Apr/2022 15:26:44] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -
127.0.0.1 - - [15/Apr/2022 15:26:44] "GET /_dash-component-suites/dash/dash_table/async-highlight.js HTTP/1.1" 304 -
C:\Users\NADIAJ~1\AppData\Local\Temp/ipykernel_15012/2553353195.py:206: UserWarning:

DataFrame columns are not unique, some columns will be omitted.

127.0.0.1 - - [15/Apr/2022 15:26:44] "GET /_dash-component-suites/dash/dash_table/async-table.js HTTP/1.1" 304 -
127.0.0.1 - - [15/Apr/2022 15:26:44] "POST /_dash-update-component HTTP/1.1" 200 -

Index(['BusinessUnit', 'LineNumber', 'Date', 'StyleSubCat', 'PoNumber',
       'Color', 'Size', 'Unique Garments', 'GarmentsNumber', 'DefectName',
       'DefectType', 'DefectCount', 'ModuleName'],
      dtype='object')